#message_list {
    padding: 0;
}

li {
    list-style-type: none;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { 
        opacity: 0;
        width: 50%;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}

li:nth-child(odd) {
    background: #ccf;
}
li:nth-child(even) {
    background: #ddf;
}

#input_section {
    bottom: 0;
    position: absolute;
    width: 100%;
    background: #aaf;
    padding-bottom: 5px;
    padding-top: 5px;
}

body {
    margin: 0;
}